$title: 'Cormorant Garamond', serif;


.container{
    height: 70vh;
    background-color: purple;
    display: flex;
    justify-content: center;

        .img-contain{
            height: 100%;
            border: 2px solid yellow;
            display: flex;
            justify-content: space-between;
                .right{
                    border: 2px dashed yellow;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                        .text{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            width: 70%;
                            height: 50vh;
                            border: 2px solid red;
                            background-color: white;

                                .title{
                                        h1{
                                        text-align: center;
                                    }
                                .body{

                                }
                        }


                }

        }
}
}
